@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Nunito', sans-serif;
    transition: .5s ease-in-out;
}

/* Colors */
:root {
    --background: white;
    --box-color: white;
    --extra-color: rgba(255, 182, 214, 1);
    --secondary-color: linear-gradient(45deg, rgba(255, 182, 214, 1) 0%, rgba(165, 206, 255, 1) 100%);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --alert-color: rgb(255, 65, 65);
}

.gradient-text{
    background: -webkit-linear-gradient(45deg, rgb(246, 100, 163) 0%, rgb(121, 181, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav Bar Css Here */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px var(--shadow-color);
    z-index: 1000;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.homeMenu{
    display: flex;
    gap: 20px;
}
.homeMenu input{
    border: 1px solid var(--shadow-color);
    padding: 0 10px;
    border-radius: 10px;
    outline: 1px solid transparent;
}
.homeMenu input:focus{
    border: 1px solid transparent;
    outline: 1.5px solid var(--extra-color);
}
.homeMenu a{
    text-decoration: none;
}
.menu{
    cursor: pointer;
}
.notiSetting{
    display: flex;
    gap: 10px;
}
.notiSetting>span{
    cursor: pointer;
    position: relative;
}
.noti-count{
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 0.4em;
    background: var(--alert-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 3px;
    border: 1px solid var(--shadow-color);
    border-radius: 8px;
    color: var(--background);
}

/* Post Codes */
.post-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--background);
    gap: 10px;
    padding: 60px 20px;
    overflow: hidden;
    overflow-y: scroll;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.post-section::-webkit-scrollbar{
    display: none;
}

.post {
    position: relative;
    width: 400px;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-100px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post:hover{
    box-shadow: -25px 25px 20px var(--shadow-color);
}
.post.show{
    opacity: 1;
    transform: translateX(0);
}

.post-body,
.post-head,
.post-foot {
    width: 100%;
}

.post-head,
.post-foot {
    height: 50px;
    background: var(--secondary-color);
}

.post-head {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    background: var(--background);
    border-radius: 10px 10px 0 0;
}

.post-option {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.post-option-box {
    position: absolute;
    background: var(--background);
    right: 0;
    top: 0px;
    padding: 10px;
    border-left: 1px solid var(--shadow-color);
    border-bottom: 1px solid var(--shadow-color);
    border-radius: 0 10px 0 10px;

    display: flex;
    gap: 2px;
    flex-direction: column;

    transform-origin: top right;
    transform: scale(0);
}

.post-option:hover .post-option-box {
    transform: scale(1);
}

.post-option-box>p {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 3px 10px;
    gap: 5px;
    border-radius: 10px;
    font-size: 0.9em;
}

.post-option-box>p:hover {
    cursor: pointer;
    border: 1px solid var(--extra-color);
    background: var(--extra-color);
}

.post-user-info {
    position: relative;
    display: flex;
    gap: 5px;
}

.profile {
    width: 40px;
    aspect-ratio: 1/1;
    border: 2px solid var(--extra-color);
    border-radius: 50%;
    background: var(--background);
}

.post-head>.post-user-info>.active {
    position: absolute;
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 10px;
    bottom: 0;
    left: 30px;
}

.post-head>.post-user-info>.active.yes {
    background: greenyellow;
}

.post-head>.post-user-info>.active.no {
    background: tomato;
}

.post-username-box {
    padding: 0 5px;
}

.post-username-box>p:nth-child(1) {
    font-weight: 500;
}

.post-username-box>p:nth-child(2) {
    font-size: smaller;
    background: -webkit-linear-gradient(90deg, rgb(255, 134, 186) 0%, rgb(120, 181, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-body {
    display: flex;
    padding: 10px;
    min-height: 250px;
    flex-direction: column;
    gap: 10px;
}
.post-body>p{
    padding: 0 10px;
}

.post-body img {
    background: var(--iColor);
    width: 100%;
    height: 250px;
    border: 1px solid var(--shadow-color);
    border-radius: 10px;
}

.post-foot {
    display: flex;
    background: transparent;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.post-foot>button,.post-foot>div {
    width: 100%;
    height: 100%;
    background: transparent;
    color: black;
    font-size: smaller;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.5s ease-in-out;
}

.post-foot>button:hover {
    cursor: pointer;
    background: var(--shadow-color);
}

.post-foot>button:nth-child(1):focus {
    cursor: pointer;
    background: var(--extra-color);
}

/* comment */
.comments{
    width: 100%;
}
.comment{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    border-top: 1px solid var(--shadow-color);
}
.comment-content{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--shadow-color);
}
.comment-username-box{
    display: flex;
    padding: 5px;
}
.comment-username-box>img{
    width: 40px;
    border-radius: 50%;
    background: var(--background);
}
.comment-box{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--background);

    transform-origin: right;
    opacity: 0;
    transform: scaleX(0) scaleY(0);
}
.comment-button:hover .comment-box,.comment-button:focus .comment-box{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}
.comment-box>textarea{
    border: 1px solid var(--shadow-color);
    padding: 0 3px;
    resize: none;
    border-radius: 5px;
}
.comment-box>button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: var(--background);
}
.seemore{
    cursor: pointer;
    height: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.seemore:hover{
    background: var(--shadow-color);
}

@media only screen and (max-width: 600px) {
    .post{
        width: 100%;
    }
}

.post:last-child{
    /* background: green; */
}