@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Nunito', sans-serif;
    transition: .5s ease-in-out;
}
#myCanvas{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    pointer-events: visibleStroke;
}

body{
    background-color: var(--background);
    background-image:
    linear-gradient(90deg, transparent 79px, var(--extra-color) 79px, var(--extra-color) 81px, transparent 81px),
    linear-gradient(rgb(241, 241, 241).1em, transparent .1em);
    background-size: 100% 1.2em;
}

/* Colors */
:root {
    --background: white;
    --box-color: white;
    --extra-color: rgba(255, 182, 214, 1);
    --secondary-color: linear-gradient(45deg, rgba(255, 182, 214, 1) 0%, rgba(165, 206, 255, 1) 100%);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --alert-color: rgb(255, 64, 64);
}

.gradient-text{
    background: -webkit-linear-gradient(45deg, rgb(246, 100, 163) 0%, rgb(121, 181, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* welcome section */
.welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
}
.title-text{
    padding: 10px;
}
.TOGETHER,.title-first-word{
    font-size: 3em;
    display: flex;
    padding: 0 20px;
    gap: 0;
    border: 1px solid var(--shadow-color);
    min-width: 160px;
    height: 75px;
    background: var(--background);
    box-shadow: 0 0 10px var(--shadow-color);
    z-index: 10;
}
.TOGETHER:hover{
    background: rgb(45, 45, 45);
    border: 1px solid transparent;
    gap: 10px;
    cursor: pointer;
}
.TO,.GET,.HER{
    text-transform: none;
}
.TOGETHER:hover .TO,.TOGETHER:hover .GET,.TOGETHER:hover .HER{
    padding: 0 5px;
    text-transform: capitalize;
}
.TOGETHER:hover .TO{
    color: blueviolet;
}
.TOGETHER:hover .GET{
    color: rgb(43, 202, 226);
}
.TOGETHER:hover .HER{
    color: rgb(244, 55, 153);
}

.title-text{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.title-first-word{
    padding: 0;
}
.ani-text{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ani-text::before{
    content: '';
    opacity: 1;
    position: absolute;
    animation: ani-text-animation 15s linear infinite;
}
.ani-text:hover::before{
    animation-play-state: paused;
}
@keyframes ani-text-animation {
    0%{
        content: 'Chill';
        color: rgb(255, 48, 83);
        transform: translateX(0px);
    }
    5%{
        opacity: 1;
    }
    9%{
        transform: translateX(60px);
        opacity: 0;
    }
    10%{
        transform: translateX(-60px);
        opacity: 0;
    }
    11%{
        opacity: 1;
    }
    20%{
        content: 'Play';
        color: rgb(255, 166, 65);
        transform: translateX(0px);
    }
    25%{
        opacity: 1;
    }
    29%{
        transform: translateX(60px);
        opacity: 0;
    }
    30%{
        transform: translateX(-60px);
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    40%{
        content: 'Love';
        color: rgb(255, 240, 78);
        transform: translateX(0px);
    }
    45%{
        opacity: 1;
    }
    49%{
        transform: translateX(60px);
        opacity: 0;
    }
    50%{
        transform: translateX(-60px);
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
    60%{
        content: 'Share';
        color: rgb(110, 255, 57);
        transform: translateX(0px);
    }
    65%{
        opacity: 1;
    }
    69%{
        transform: translateX(60px);
        opacity: 0;
    }
    70%{
        transform: translateX(-60px);
        opacity: 0;
    }
    71%{
        opacity: 1;
    }
    80%{
        content: 'React';
        color: rgb(72, 218, 255);
        transform: translateX(0px);
    }
    85%{
        opacity: 1;
    }
    89%{
        transform: translateX(60px);
        opacity: 0;
    }
    90%{
        transform: translateX(-60px);
        opacity: 0;
    }
    91%{
        opacity: 1;
    }
    100%{
        content: 'Chill';
        color: rgb(255, 70, 101);
        transform: translateX(0px);
    }
}

.login{
    padding: 10px;
    width: 400px;
    border: 1px solid var(--shadow-color);
    animation: popup 1s linear;
    background: var(--background);
    box-shadow: 0 0 10px var(--shadow-color);
}
@keyframes popup {
    to{
        opacity: 1;
        transform: translateY(0);
    }
    from{
        opacity: 0;
        transform: translateY(100px);
    }
}
.LSform{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.LSform>*{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.LSform>h2{
    position: relative;
    background: -webkit-linear-gradient(90deg, rgb(255, 134, 186) 0%, rgb(120, 181, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
}
.LSform>input{
    position: relative;
    border-bottom: 1px solid var(--shadow-color);
    height: 30px;
    outline: 1px solid transparent;
}
.LSform>input:hover,.LSform>input:focus{
    border-bottom: 1px solid transparent;
    outline: 1px solid var(--shadow-color);
    background: var(--shadow-color);
}
.LSform::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(transparent,var(--extra-color),rgb(255, 50, 255),var(--extra-color),transparent);
    left: -11px;
    animation: pulse 3s linear alternate infinite;
}
.LSform>a{
    padding: 0;
}
.LSform>a>button{
    width: 100%;
    height: 30px;
    
    cursor: pointer;
}
.LSform>a>button:hover{
    background: var(--secondary-color);
}
.link{
    display: flex;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    font-size: small;
    background: -webkit-linear-gradient(90deg, rgb(255, 134, 186) 0%, rgb(120, 181, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 3px var(--shadow-color);
}
.link:hover{
    background: -webkit-linear-gradient(45deg, rgb(255, 31, 128) 0%, rgb(33, 133, 255)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes pulse {
    to{
        opacity: 0.5;
    }
    from{
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .title-text{
        position: absolute;
        flex-direction: column;
        top: 20px;
        width: 75%;
    }
    .TOGETHER{
        justify-content: center;
    }
    .login{
        width: 75%;
    }
}

/* Nav Bar Css Here */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px var(--shadow-color);
    z-index: 1000;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.homeMenu{
    display: flex;
    gap: 20px;
}
.homeMenu input{
    border: 1px solid var(--shadow-color);
    padding: 0 10px;
    border-radius: 10px;
    outline: 1px solid transparent;
}
.homeMenu input:focus{
    border: 1px solid transparent;
    outline: 1.5px solid var(--extra-color);
}
.homeMenu a{
    text-decoration: none;
}
.menu{
    cursor: pointer;
}
.notiSetting{
    display: flex;
    gap: 10px;
}
.notiSetting>span{
    cursor: pointer;
    position: relative;
}
.noti-count{
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 0.4em;
    background: var(--alert-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 3px;
    border: 1px solid var(--shadow-color);
    border-radius: 8px;
    color: var(--background);
}

/* Post Codes */
.post-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    padding: 60px 20px;
    overflow: hidden;
    overflow-y: scroll;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.post-section::-webkit-scrollbar{
    display: none;
}

.post {
    background: var(--background);
    position: relative;
    width: 400px;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-100px);
    border: 1px solid var(--shadow-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post:hover{
    box-shadow: -25px 25px 20px var(--shadow-color);
}
.post.show{
    opacity: 1;
    transform: translateX(0);
}

.post-body,
.post-head,
.post-foot {
    width: 100%;
}

.post-head,
.post-foot {
    height: 50px;
    background: var(--secondary-color);
}

.post-head {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    background: var(--background);
    border-radius: 10px 10px 0 0;
}

.post-option {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.post-option-box {
    position: absolute;
    background: var(--background);
    right: 0;
    top: 0px;
    padding: 10px;
    border-left: 1px solid var(--shadow-color);
    border-bottom: 1px solid var(--shadow-color);
    border-radius: 0 10px 0 10px;

    display: flex;
    gap: 2px;
    flex-direction: column;

    transform-origin: top right;
    transform: scale(0);
}

.post-option:hover .post-option-box {
    transform: scale(1);
}

.post-option-box>p {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 3px 10px;
    gap: 5px;
    border-radius: 10px;
    font-size: 0.9em;
}

.post-option-box>p:hover {
    cursor: pointer;
    border: 1px solid var(--extra-color);
    background: var(--extra-color);
}

.post-user-info {
    position: relative;
    display: flex;
    gap: 5px;
}

.profile {
    width: 40px;
    aspect-ratio: 1/1;
    border: 2px solid var(--extra-color);
    border-radius: 50%;
    background: var(--background);
}

.post-head>.post-user-info>.active {
    position: absolute;
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 10px;
    bottom: 0;
    left: 30px;
}

.post-head>.post-user-info>.active.yes {
    background: greenyellow;
}

.post-head>.post-user-info>.active.no {
    background: tomato;
}

.post-username-box {
    padding: 0 5px;
}

.post-username-box>p:nth-child(1) {
    font-weight: 500;
}

.post-username-box>p:nth-child(2) {
    font-size: smaller;
    background: -webkit-linear-gradient(90deg, rgb(255, 134, 186) 0%, rgb(120, 181, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-body {
    display: flex;
    padding: 10px;
    min-height: 250px;
    flex-direction: column;
    gap: 10px;
}
.post-body>p{
    padding: 0 10px;
}

.post-body img {
    background: var(--iColor);
    width: 100%;
    height: 250px;
    border: 1px solid var(--shadow-color);
    border-radius: 10px;
}

.post-foot {
    display: flex;
    background: transparent;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.post-foot>button,.post-foot>div {
    width: 100%;
    height: 100%;
    background: transparent;
    color: black;
    font-size: smaller;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.5s ease-in-out;
}

.post-foot>button:hover {
    cursor: pointer;
    background: var(--shadow-color);
}

.post-foot>button:nth-child(1):focus {
    cursor: pointer;
    background: var(--extra-color);
}

/* comment */
.comments{
    width: 100%;
}
.comment{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    border-top: 1px solid var(--shadow-color);
}
.comment-content{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--shadow-color);
}
.comment-username-box{
    display: flex;
    padding: 5px;
}
.comment-username-box>img{
    width: 40px;
    border-radius: 50%;
    background: var(--background);
}
.comment-box{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--background);

    transform-origin: right;
    opacity: 0;
    transform: scaleX(0) scaleY(0);
}
.comment-button:hover .comment-box,.comment-button:focus .comment-box{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}
.comment-box>textarea{
    border: 1px solid var(--shadow-color);
    padding: 0 3px;
    resize: none;
    border-radius: 5px;
}
.comment-box>button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: var(--background);
}
.seemore{
    cursor: pointer;
    height: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.seemore:hover{
    background: var(--shadow-color);
}

@media only screen and (max-width: 600px) {
    .post{
        width: 100%;
    }
}

.post:last-child{
    /* background: green; */
}

/* setting box */
.setting-box{
    position: absolute;
    right: 5px;
    top: 55px;
    background: var(--shadow-color);
    border: 1px solid var(--shadow-color);
    border-radius: 10px;
    padding: 10px;
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transform: translateX(350px);
}
.setting-box.show{
    transform: translateX(0);
}
.setting-box>*{
    background: var(--background);
    border: 1px solid var(--shadow-color);
    padding: 10px;
    border-radius: 10px;
}
.setting-box>*>p{
    border-bottom: 1px solid var(--shadow-color);
    padding-bottom: 5px;
    margin-bottom: 5px;
}